<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><center>Rain Prediction</center></title>
    <link rel="stylesheet" href="C:\Users\tanej_23j9ili\OneDrive\Documents\rain prediction project\Rain-Prediction\static\style1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  </head>
  <body>
    <section>
        </div>
        <h2><center><a href="#" class="logo">Rain-Prediction</a></h2></center>
        <p><center>It is a project on predicting whether it will rain tomorrow or not by using the Rainfall in Australia dataset</center></p>
        <br><br><br><br><br>
        <div class="navigation">
            <center><p>Click the link below to open the predictor</p></center>
            <center><a href="/predict">Predictor</a></center>
        </div>
    </section>
   
  </body>
</html>