body {
    background-color: rgb(243, 227, 198);
    font-family: 'Poppins', sans-serif;
}

h1{
    color:rgb(60, 39, 12);
}

h2{
    color:rgb(60, 39, 12);
    font-size: 2 rem;
    font-weight: bold;
}
