body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
}
.form {
    background-color: rgb(169, 205, 145);
    width: 70vw;
    margin: 50px auto;
    padding: 20px 50px;
    box-shadow: 05px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    border-radius: 12px;
}
.form h1 {
    color: #0d341c;
}

.button {
    border: 2px solid #2d4837;
    background-color:white;
    color:black;
    padding: 5px 30px;
    font-size: 18px;
}

.button:hover{
    background-color: #2d4837;
    color: white;
    border: 2px solid white;
}