body {
    background-color: rgb(210, 237, 250);
    font-family: 'Poppins', sans-serif;
}

h1{
    color:rgb(16, 16, 87);
}

h2{
    color:rgb(16, 16, 87);
    font-size: 2 rem;
    font-weight: bold;
}
